<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление записи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5 mb-10">
    <h1>Добавление курс</h1>
    <form action="/course/add" method="post">
        <input type="text" name="name" placeholder="Название курса" class="form-controll"><br>
        <input type="text" name="professors_name" placeholder="ФИО профессора" class="form-controll"><br>
        <input type="text" name="num" placeholder="Номер курса" class="form-controll"><br>
        <input type="text" name="cost" placeholder="Стоимость" class="form-controll"><br>

        <button type="submit" class="btn btn-success">Добавить профессора</button>
    </form>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>